<section class="page-header">
    <h1 class="project-name"><a href="/"><img src="assets/images/logo-horizontal.png" width="350"/></a></h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="traces.html" class="btn"><img src="assets/images/icon-green.png" width="16"/> Workflow Traces</a>
    <a href="generator.html" class="btn"><img src="assets/images/icon-orange.png" width="16"/> Workflow Generator</a>
    <a href="simulator.html" class="btn"><img src="assets/images/icon-red.png" width="16"/> Workflow Simulator</a>
    <div class="menu">
        <ul>
            <li><a href="./"><strong>[ The WorkflowHub JSON Format ]</strong></a></li>
        </ul>
    </div>
    <div class="menu" style="margin-top: 1em">
        <ul>
            <li><a href="./">About</a></li>
        </ul>
    </div>
</section>