<section class="page-header">
    <div class="page-header-layer">
        <h1 class="project-name"><a href="/"><img src="assets/images/logo-horizontal.png" width="350"/></a></h1>
        <h2 class="project-tagline">{{ site.tagline }}</h2>
        <a href="/traces" class="btn"><img src="assets/images/icon-green.png" width="16"/> Workflow Traces</a>
        <a href="/generator" class="btn"><img src="assets/images/icon-orange.png" width="16"/> Workflow Generator</a>
        <a href="/simulator" class="btn"><img src="assets/images/icon-red.png" width="16"/> Workflow Simulator</a>
        <div class="menu">
            <ul>
                <li><a href="/json-format"><strong>[ The WorkflowHub JSON Format ]</strong></a></li>
                <li><a href="https://workflowhub.readthedocs.io/" target="_blank"><strong>[ The WorkflowHub Python
                    Package ]</strong></a></li>
            </ul>
        </div>
        <div class="menu" style="margin-top: 1em">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/publications">Publications</a></li>
            </ul>
        </div>
    </div>
</section>