<footer class="site-footer">
    <div style="float: left">
        <span class="site-footer-owner">&copy;2020-{{ site.time | date: '%Y' }} {{ site.title }}</span>
        <span class="site-footer-credits">All rights reserved.</span>
    </div>
    <div style="float: right">
        <a href="https://isi.edu" target="_blank">
            <img src="/assets/images/logo-usc.png" style="width: 7em"/>
        </a>
        <a href="https://www.ics.hawaii.edu" target="_blank">
            <img src="/assets/images/logo-uhm.png" style="width: 7em"/>
        </a>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18066333-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-18066333-7');
</script>
